PROJECT_NAME=localhost
env=dev
os=debian
# mysql
MYSQL_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=root_password123!
MYSQL_DATABASE=majordomo
MYSQL_USER=majordomo_user
MYSQL_PASSWORD=mysql_password
MYSQL_EXPOSE_PORT=3306
MAJORDOMO_NGINX_PORT=8855
MAJORDOMO_UI_PORT=8811