[mysqld]
local-infile=0
sql-mode=""
# generic configuration options
user            = mysql
port            = 3306
datadir         = /var/lib/mysql
tmpdir          = /dev/shm
character-set-server=utf8
collation-server=utf8_bin
character-set-server = utf8
collation-server = utf8_unicode_ci
init-connect = "SET NAMES utf8 COLLATE utf8_unicode_ci"
skip-character-set-client-handshake
skip-name-resolve
performance_schema=OFF

back_log = 50
max_connections = 100
max_connect_errors = 10
table_open_cache = 4096
max_allowed_packet = 100M
binlog_cache_size = 1M
max_heap_table_size = 32M
read_buffer_size = 8M
read_rnd_buffer_size = 8M
join_buffer_size = 256M
thread_cache_size = 8
#thread_concurrency = 16
query_cache_size = 64M
query_cache_limit = 2M
query_cache_type = 1
ft_min_word_len = 4
thread_stack = 192K
transaction_isolation = REPEATABLE-READ
tmp_table_size = 128M
max_heap_table_size = 32M
log_warnings
slow_query_log
long_query_time = 1
local-infile
key_buffer_size = 64M
bulk_insert_buffer_size = 32M
myisam_sort_buffer_size = 4M
myisam_max_sort_file_size = 128MB
myisam_repair_threads = 1
myisam_recover_options
innodb_file_per_table = 1
[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick
max_allowed_packet = 1G
[mysql]
no-auto-rehash

